body {
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header nav li {
  display: inline-block;
  margin-right: 20px;
}

header nav a {
  color: #fff;
  text-decoration: none;
}

header nav a:hover {
  border-bottom: 2px solid #fff;
}

main {
  margin: 20px;
  flex: 1 0 auto;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin-top: auto;
  font-size: 0.8em;
}

button {
  background-color: #192a3b; /* Endre bakgrunnsfargen etter ønske */
  color: #fff; /* Endre tekstfargen etter ønske */
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #010911; /* Endre bakgrunnsfargen ved hover etter ønske */
}

input[type="submit"] {
  background-color: #192a3b; /* Endre bakgrunnsfargen etter ønske */
  color: #fff; /* Endre tekstfargen etter ønske */
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #010911; /* Endre bakgrunnsfargen ved hover etter ønske */
}

input[type="button"] {
  background-color: #192a3b; /* Endre bakgrunnsfargen etter ønske */
  color: #fff; /* Endre tekstfargen etter ønske */
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: #010911; /* Endre bakgrunnsfargen ved hover etter ønske */
}