{% extends "adminbase.html" %}

{% block content %}
  <h1>Registrer ny admin</h1>
  <form action="{{ url_for('admin_register') }}" method="POST">
    <label for="admin_id">AdminId:</label>
    <input type="text" id="admin_id" name="admin_id" required><br><br>
    <label for="fornavn">Fornavn:</label>
    <input type="text" id="fornavn" name="fornavn" required><br><br>
    <label for="etternavn">Etternavn:</label>
    <input type="text" id="etternavn" name="etternavn" required><br><br>
    <input type="submit" value="Registrer">
  </form>
  Allerede registrert? <a href="adminlogin">Logg inn!</a>
{% endblock %}
