{% extends "adminbase.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='brukersvar.css') }}">
<table class="resultat-tabell">
    <thead>
        <tr>
            <th>Bruker</th>
            <th>Quiz</th>
            <th>Kommentar</th>
        </tr>
    </thead>
    <tbody>
        {% for row in quiz_gjennomforinger %}
        {% set bruker = row[0] %}
        {% set quiz = row[1] %}
        <tr>
            {% for item in row %}
            <td><a href="/quizgjennomgang/{{ bruker }}/{{ quiz }}">{{ item }}</a></td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}